* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.liste {
  text-decoration: underline;
}
.img:hover {
  margin-top: 20px;
  transform: scale(1.1);
  cursor: default;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}
footer {
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  display: flex;
  padding: 20px;
}
.navbar {
  background-color: #391f7c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 150px;
  padding: 45px 0 0 0;
}
ul {
  margin: 0;
  padding: 10;
  list-style: none;
}
ul li {
  float: inline-end;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}
ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover {
  background-color: yellow;
  color: #000000;
}
ul li ul li {
  display: none;
}
ul li:hover ul li {
  display: block;
}
p {
  background-color: bisque;
}
h2 {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.sub {
  padding: 10px;
}
.reseau{
display:block;
border: 1px solid;
width:100px;
}
